# Regular Expression Notes

In [4]:
import pandas as pd
import re

In [5]:
log_file_lines = '''
76.185.131.226 - - [11/May/2020:14:25:53 +0000] "GET / HTTP/1.1" 200 42 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:25:46 +0000] "GET / HTTP/1.1" 200 42 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:25:58 +0000] "GET / HTTP/1.1" 200 42 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.129 Safari/537.36"
76.185.131.226 - - [11/May/2020:16:25:58 +0000] "GET /favicon.ico HTTP/1.1" 200 162 "https://python.zach.lol/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.129 Safari/537.36"
104.5.217.57 - - [11/May/2020:16:26:27 +0000] "GET / HTTP/1.1" 200 42 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:26:46 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:26:54 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
104.5.217.57 - - [11/May/2020:16:27:04 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:27:05 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:27:10 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
'''

**re.search: gives us the first mathc that it observes that meets those three things in the order that we asked of it**

In [ ]:
regex= r'(?P<ip>.*?)\s.*?\[(?)]
regex= re.compile(regex, re.VerBOSE)

lines = pd.Series(log_file_lines.strip().split('\n'))
lines.str.extract(regex)

In [ ]:
print('This is a typical string\n This is a new line')

<hr style="border:3px solid black"> </hr>

# Literals

In [9]:
#this will tell you if there is a 'a'
regexp = r'a'
subject = 'abcaaa'

re.search(regexp, subject)

In [10]:
#this will find all of the regexp
regexp = r'a'
subject = 'abcaaa'

re.findall(regexp, subject)

['a', 'a', 'a', 'a']

In [11]:
#if there is not a.. it outputs nothing
regexp = r'a'
subject = 'dbcc'

re.search(regexp, subject)

### Mini Exercise
Use the cell above to start experimenting with regular expressions.
1. Change your regular expression to match the literal character "b". What do you notice?
2. Change your regular expression to match the literal string "ab". What do you notice?
3. Change your regular expression to match the literal "d". What do you notice?
4. Use re.findall instead of re.search. How do the results differ?
5. Change your regular expression to just the "." character. What are the results

#### #1 Change your regular expression to match the literal character "b". What do you notice?

In [171]:
regexp = 'b'
subject = 'adjdhdkjhfskbfsad'

re.search(regexp, subject)

#### #2. Change your regular expression to match the literal string "ab". What do you notice?

In [170]:
regexp = 'ab'
subject = 'adjdhdkjhfskbfsad'

re.search(regexp, subject)

#### #3. Change your regular expression to match the literal "d". What do you notice?

In [169]:
regexp = 'd'
subject = 'adjdhdkjhfskbfsad'

re.search(regexp, subject)

#### #4 Use re.findall instead of re.search. How do the results differ?

In [21]:
regexp = 'a'
subject = 'adjdhdkjhfskbfsad'

re.findall(regexp, subject)

#this finda all the instances of 'a'(or the regexp)

['a', 'a']

#### #5 Change your regular expression to just the "." character. What are the results?

In [23]:
regexp = '.'
subject = 'adjdhdkjhfskbfsad'

re.search(regexp, subject)

#this will give you the FIRST character

<hr style="border:3px solid black"> </hr>

# Metacharacters
- .
- \w
- \s
- \d
- Captial variants

### Exercises:
Continue to use the same subject variable from above.
1. Use all of the above metacharacters with re.findall. What do you notice?
2. What does the regular expression \w\w match?
3. Use only metacharacters to write a regular expression to match "c 1".
4. Use a combination of metacharacters to match 3 digits in a row.

#### #1. Use all of the above metacharacters with re.findall. What do you notice?

In [26]:
regexp = r'.'
subject = 'abc 123'

re.findall(regexp, subject)
#this finds all INCLUDING the spaces

['a', 'b', 'c', ' ', '1', '2', '3']

In [25]:
regexp = r'\w'
subject = 'abc 123'

re.findall(regexp, subject)
#this shows everything BUT the spaces

['a', 'b', 'c', '1', '2', '3']

In [33]:
regexp = r's'
subject = 'abc 123'

re.findall(regexp, subject)
#this ONLY finds spaces

[]

In [29]:
regexp = r'\d'
subject = 'abc 123'

re.findall(regexp, subject)
#this ONLY finds numbers

['1', '2', '3']

In [ ]:
regexp = r'\w'
subject = 'abc 123'

re.findall(regexp, subject)
#this shows everything but the spaces

#### #2. What does the regular expression \w\w match?

In [34]:
regexp = r'\w\w'
subject = 'abc 123'

re.findall(regexp, subject)
#this shows sets of pairs

['ab', '12']

In [42]:
regexp = r'\w\w'
subject = 'abc 123'

re.search(regexp, subject)
#this shows the FIRST pair

#### #3 Use only metacharacters to write a regular expression to match "c 1".

In [43]:
regexp = r'\w\s\d'
subject = 'abc 123'

re.findall(regexp, subject)
#this shows sets of pairs

['c 1']

#### #4. Use a combination of metacharacters to match 3 digits in a row.

In [39]:
regexp = r'\d\d\d'
subject = 'abc 123'

re.findall(regexp, subject)
#this matches 3 digits

['123']

<hr style="border:3px solid black"> </hr>

# Repeating
- {}
    - from zero to n: {,n}
    - range: {n,i}    
- *
- +
- ?
- greedy + non-greedy

In [46]:
# {} operator
regexp = r'\d{2}'
subject = 'abc 123'

re.search(regexp, subject)
#first sequence of 2 digits

In [47]:
# {} operator
regexp = r'\d{1,3}'
subject = 'abc 123'

re.search(regexp, subject)
#sequence of 123 digits

In [48]:
# + operator
regexp = r'\w+'
subject = 'abc 123'

re.search(regexp, subject)
#this will give you as many w characters as it sees until a space

In [49]:
# + operator
regexp = r'\w+'
subject = 'abcded ads 123'

re.search(regexp, subject)
#this will give you as many characters as it sees until a space

In [51]:
# + operator
regexp = r'\w+\s\w+'
subject = 'abc 123'

re.search(regexp, subject)
#this shows all characters, space, all characters

In [52]:
# ? operator
regexp = r'ham sandwich'
subject = 'hi yes i would lke a ham sandwich'

re.search(regexp, subject)
#shows if ham sandwich is in there

In [53]:
# ? operator
regexp = r'ham sandwix?ch'
subject = 'hi yes i would lke a ham sandwich'

re.search(regexp, subject)
#shows if x is possibly there, but rest of word MUST be there

### Example

Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com.

1. Write a regular expression that matches all the numbers.
2. Write a regular expression that matches a 5 digit number, but not a number with fewer digits.
3. Write a regular expression that matches any urls in the subject.

#### 1. Write a regular expression that matches all the numbers.

In [61]:
#all the numbers
regexp = r'\d+'
subject = 'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com.'

re.findall(regexp, subject)

['2014', '600', '350', '78230']

#### #2. Write a regular expression that matches a 5 digit number, but not a number with fewer digits.

In [64]:
#5 digits
#regexp = r'\d\d\d\d\d' <--also works
regexp = '\d{5,}'
subject = 'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com.'

re.search(regexp, subject)

#### #3. Write a regular expression that matches any urls in the subject.

In [ ]:
#each starts with http
#one has an sm one does not
#both are followed by //
#both by some amount of letter characters and a .
# then maybe another set of letts and a .
#then com

In [65]:
#s is optional (?), 
#some series of letters and numbers --> \w+ 
#another set of characters  --> \w+

regexp = 'https?://\w+.\w+\w*.?com'
subject = 'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com.'

re.findall(regexp, subject)

['http://codeup.com', 'https://alumni.codeup.com']

<hr style="border:3px solid black"> </hr>

# Any/None Of

- brackets: denote any character inside of it

In [66]:
#first instance of any character between a and z
regexp = '[a-z]'
subject = '123abc 123'

re.search(regexp, subject)

In [68]:
#all instances of any character between a and z
regexp = '[a-z]+'
subject = '123abc 123'

re.search(regexp, subject)

In [70]:
#three characters in a row that are a or 1, b or 2, and c or 3
regexp = '[a1][b2][c3]'
subject = 'abc 123'

re.search(regexp, subject)

In [72]:
#three characters in a row that are a or 1, b or 2, and c or 3
regexp = '[a1][b2][c3]'
subject = '123abc'

re.match(regexp, subject)

### Exercises
For this exercise you should make up various subjects and test them with your regular expressions.
1. Write a regular expression that matches even digits.
2. Write a regular expression that matches 2 or more odd digits in a row.
3. Write a regular expression that any word with a vowel in it.

#### 1. Write a regular expression that matches even digits.

In [112]:
regexp = '[02468]'
subject = '1234 abc6'

re.findall(regexp, subject)

['2', '4', '6']

In [114]:
#2 or more odd digits:
regexp = r'[13579]{2,}'
subject = '12354 79ddg abc6'

re.findall(regexp, subject)

['35', '79']

#### 2. Write a regular expression that matches 2 or more odd digits in a row.

In [102]:
regexp = '\d\d+'
subject = '1234 abc 6546'

re.findall(regexp, subject)

['1234', '6546']

#### 3. Write a regular expression that any word with a vowel in it.

In [115]:
#any letter of the alphabet 0 of more times, 
#at least 1 vowel, 
#any letter of the alphabet 0 or more times
regexp = '[A-Za-z]*[aeiouAEIOU]+[A-Za-z]*'
subject = 'the dft dog 2 had a bath'

re.findall(regexp, subject)

['the', 'dog', 'had', 'a', 'bath']

<hr style="border:3px solid black"> </hr>

# Anchors
- ^: begginning 
- $: ending (the buck stops here)

In [121]:
#has to end in an even number
regexp = r'\d*[24680]$'
subject = '5974809845 55554'

re.findall(regexp, subject)

['55554']

In [122]:
#starts with a 5 for 0 or more times
regexp = r'^5\d*'
subject = '5974809845 55554'

re.findall(regexp, subject)

['5974809845']

### Exercises:
For this exercise you should make up various subjects and test them with your regular expressions.
1. Write a regular expression that matches if a word starts with a vowel.
2. Write a regular expression that matches if a word starts with a capital letter.
3. Write a regular expression that matches if a word ends with a capital letter.
4. Write a regular expression that matches if a word starts and ends with a capital letter.

#### #1. Write a regular expression that matches if a word starts with a vowel.

In [141]:
#starts with vowel
regexp = r'^[aeiouAEIOU][a-zA-Z]*$'
subject = ['apple','Ham', 'grouper', 'AnchorS', 'Z', 'pokemon', 'christmas', 'bash']

[bool(re.search(regexp, word)) for word in subject]

[True, False, False, True, False, False, False, False]

In [144]:
#starts with vowel
regexp = r'^[aeiouAEIOU][a-zA-Z]*$'
subject = ['apple','Ham', 'grouper', 'AnchorS', 'Z', 'pokemon', 'christmas', 'bash']

[re.findall(regexp, word) for word in subject]

[['apple'], [], [], ['AnchorS'], [], [], [], []]

#### #2. Write a regular expression that matches if a word starts with a capital letter.

In [145]:
#starts with capital
regexp = r'^[A-Z][a-zA-Z]*$'
subject = ['apple','Ham', 'grouper', 'AnchorS', 'Z', 'pokemon', 'christmas', 'bash']

[re.findall(regexp, word) for word in subject]

[[], ['Ham'], [], ['AnchorS'], ['Z'], [], [], []]

#### #3. Write a regular expression that matches if a word ends with a capital letter.

In [148]:
#starts and ends with capital
regexp = r'^[A-Z][a-zA-Z]*[A-Z]$'
subject = ['apple','Ham', 'grouper', 'AnchorS', 'Z', 'pokemon', 'christmas', 'bash']

[re.findall(regexp, word) for word in subject]

[[], [], [], ['AnchorS'], [], [], [], []]

#### #4. Write a regular expression that matches if a word starts and ends with a capital letter.

<hr style="border:3px solid black"> </hr>

## Capture Groups

In [150]:
regexp = '.*?(\d+)'
s = pd.Series(['abc', 'abc123', '123'])
s.str.extract(regexp)

     0
0  NaN
1  123
2  123

<hr style="border:3px solid black"> </hr>

## re.sub
- removing
- substitution

**recognize something within a string and replace it with something else**

In [151]:
regexp = r'\d+'
subject = 'abc123'
re.sub(regexp, '', subject)

'abc'

In [152]:
regexp = r'\d+'
subject = 'abc123'
re.sub(regexp, '456', subject)

'abc456'

In [155]:
regexp = '([A-Z]+)([a-z]+)'
subject = 'DSGKSDGSGIHI hgshheihgi'
re.sub(regexp, r'\2 \1', subject)

'DSGKSDGSGIHI hgshheihgi'

### Exercises:
Use the code below to get started on this exercise.
- dates = pd.Series(['2020-11-12', '2020-07-13', '2021-01-12'])
- Use regular expression substitution to reformat the dates in the format common in the US: m/d/y.

In [161]:
date_reg = r'(\d+)-(\d+)-(\d+)'
dates = pd.Series(['2020-11-12', '2020-07-13', '2021-01-12'])

#2nd value is now 1st<-- \2
#3rd value is now 2nd <-- \3
#1st value is now 3rd <-- \1
[re.sub(date_reg, r'\2/\3/\1' ,date) for date in dates]

['11/12/2020', '07/13/2020', '01/12/2021']

<hr style="border:3px solid black"> </hr>

# Misc
### Pandas Usage
- .str
    - .extract
    - .count
    - .contains
    - .replace
- extract + concat
- named groups

In [162]:
df = pd.DataFrame()
df['text'] = pd.Series([
    'You should go check out https://regex101.com, it is a great website!',
    'My favorite search engine is https://duckduckgo.com',
    'If you have a question, you can get it answered through http://askjeeves.com, it is great!',
])
df

                                                text
0  You should go check out https://regex101.com, ...
1  My favorite search engine is https://duckduckg...
2  If you have a question, you can get it answere...

In [163]:
df.text.str.extract(r'(https?)://(\w+)\.(\w+)')

#capture groups:
## http or https
## words after ://
## words after .

       0           1    2
0  https    regex101  com
1  https  duckduckgo  com
2   http   askjeeves  com

<hr style="border:3px solid black"> </hr>

# Interactive Regex Tool
To install the hlre tool:
 - python -m pip install hlre
- For more documentation and the source
- See also regex101 (make sure to select the Python flavor)

<hr style="border:3px solid black"> </hr>

# Name capture groups

In [164]:
text = 'You should go check out https://regex101.com, it is a great website!'

match = re.search(r'(?P<protocol>https?)://(?P<base_domain>\w+)\.(?P<tld>\w+)', text)
match.groupdict()

{'protocol': 'https', 'base_domain': 'regex101', 'tld': 'com'}

In [166]:
#rename columns == name capture groups
df.text.str.extract(r'(?P<protocol>https?)://(?P<base_domain>\w+)\.(?P<tld>\w+)')

  protocol base_domain  tld
0    https    regex101  com
1    https  duckduckgo  com
2     http   askjeeves  com

<hr style="border:3px solid black"> </hr>

# Verbose Regular Expressions
- re.VERBOSE
- (?# this is a comment)

In [167]:
text = 'You should go check out https://regex101.com, it is a great website!'

regexp = r'''
(?P<protocol>https?)
:// (?# ignore the :// that seperates protocol from domain)
(?P<base_domain>\w+)
\.
(?P<tld>\w+)
'''
match = re.search(regexp, text, re.VERBOSE) # whitespace in the regex is ignored
match.groupdict()

{'protocol': 'https', 'base_domain': 'regex101', 'tld': 'com'}

In [168]:
df.text.str.extract(r'''
(?P<protocol>https?)
:// (?# ignore the :// that seperates protocol from domain)
(?P<base_domain>\w+)
\.
(?P<tld>\w+)
''')

  protocol base_domain  tld
0      NaN         NaN  NaN
1      NaN         NaN  NaN
2      NaN         NaN  NaN